<footer>
  <div class="card text-center footer">
    <div class="card-body">
      <div class="icon">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-threads"></i>
      </div>
      <div class="copywrite">&copy; wanderlust Private Limited</div>
      <div class="anchor">
        <a href="#" class="">Privacy</a>
        <a href="#" class="">Terms</a>
      </div>
    </div>
  </div>
</footer>
