<% layout("/layouts/boilerplate.ejs") %>

<h1 class="mb-2">Reserve Now</h1>
<form
  action="/reserve"
  method="post"
  novalidate
  class="needs-validation addnewlist"
>
  <div class="addnew mt-2">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="user" class="form-label">UserName : </label>
        <input
          type="text"
          class="form-control"
          id="user"
          name="user"
          value="<%= user %>"
          required
        />
      </div>
      <div class="mb-3 col-md-6" style="display: none">
        <label for="id" class="form-label">id : </label>
        <input
          type="text"
          class="form-control"
          id="id"
          name="id"
          value="<%= id %>"
          required
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="email" class="form-label">Email : </label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          value="<%= email %>"
          required
        />
      </div>
    </div>

    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="checkOut" class="form-label">CheckOut Date : </label>
        <input
          type="date"
          class="form-control"
          id="checkOut"
          name="checkOut"
          required
        />
      </div>
      <div class="mb-3 col-md-6">
        <label for="checkIn" class="form-label">CheckOut : </label>
        <input
          type="date"
          class="form-control"
          id="checkIn"
          name="checkIn"
          required
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="suggestion" class="form-label">Suggestion : </label>
      <textarea
        class="form-control"
        id="suggestion"
        rows="3"
        name="suggestion"
      ></textarea>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary mb-3">RESERVE NOW</button>
    </div>
  </div>
</form>
<!-- <script>
  // let date1 = new Date("01/16/2024");
  // let date2 = new Date("01/26/2024");
  let checkIn = document.querySelector("#chekIn").value;
  let checkOut = document.querySelector("#chekOut").value;
  let price = document.querySelector("#price");
  function calculate() {
    let Difference_In_Time = checkOut.getTime() - checkIn.getTime();
    let Difference_In_Days = Math.round(
      Difference_In_Time / (1000 * 3600 * 24)
    );
    price.innerHTML = Difference_In_Days;
  }
  console.log(
    "Total number of days between dates:\n" +
      checkIn.toDateString() +
      " and " +
      checkOut.toDateString() +
      " is: " +
      Difference_In_Days +
      " days"
  );
</script> -->
